* {
    -fx-main-color: rgba(35, 32, 41, 0.96);
    -fx-second-color: rgba(35, 32, 41, 0.96);
    -fx-text-color: rgba(170, 170, 170, 0.96);
    -fx-text-color-hover: rgba(60, 170, 110, 0.96);
}

.split-pane {
    -fx-background-color: -fx-main-color;
    -fx-padding: 0 0 0 0;
}

.split-pane > .split-pane-divider {
    -fx-background-color: -fx-second-color;
    -fx-padding: 0 5 0 5;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar{
    -fx-background-color: -fx-main-color;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-text-color;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-padding:0;
    -fx-opacity: 0;
}

.text-field {
    -fx-background-color: -fx-main-color;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: -fx-text-color;
}

.button {
    -fx-background-color: -fx-main-color;
    -fx-border-radius: 0;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

.text {
    -fx-text-fill: -fx-text-color;
    -fx-min-width: 200px;
    -fx-min-height: 100px;
    -fx-padding: 10 10 10 10;
}

.label {
    -fx-text-fill: -fx-text-color;
    -fx-padding: 5 5 5 5;
}

.v-box {
    -fx-text-fill: -fx-text-color;
    -fx-padding: 5 5 5 5;
}

.h-box {
    -fx-text-fill: -fx-text-color;
}

.button:hover {
    -fx-cursor: hand;
    -fx-text-fill: -fx-text-color-hover;
}

.image-view:hover {
    -fx-cursor: hand;
}

.image-view-wrapper:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-text-color;
}

#cPane{
    -fx-background-color: -fx-second-color;
}

#msgField {
    -fx-pref-height: 50px;
}